@charset "UTF-8";
/* 轮播图描述文本样式 */
.s-fade-txt p {
  margin-top: 0.5rem;
  max-width: 80%;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

/* 为深色背景图片上的白色文字添加文字阴影 */
.text-white {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); }

/* 为浅色背景图片上的黑色文字添加文字阴影 */
.text-black {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5); }
