{{ define "main" }}
<div class="mx-auto my-10 max-w-6xl">
    <div class="mx-3 mt-20 col-span-3 lg:col-span-2 px-2">
        <h1 class="title text-5xl font-bold mb-10">Case Studies Coming Soon</h1>
        
        <div class="bg-white shadow-lg rounded-lg p-8 text-center">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">More content coming soon!</h2>
            <p class="text-gray-600">We're working on adding case studies for this product. Please check back later.</p>
            
            <div class="flex justify-center mt-8">
                <a class="back-button" href="/blog/">
                    <div style="background-color: #1f2937; color: #d1d5db;" class="transition-colors duration-300 h-auto m-3 text-center py-3 px-6">
                        <span class="icon-keyboard_arrow_left"></span> Return
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}